


*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #d61766;
	background: #ffffff repeat;
	margin: 5%;
	padding-right: 0%;
}



a {
	color: #d61766;
	text-decoration: none;
}

.on {
	text-decoration: underline;
}

.off{

}

h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #b4c34f;
}

li {
	list-style: none;
}

#social {

	float: right;
	text-align: right;
}

.header {
	border-bottom: 1px solid #28271C;
	border-top: 1px solid #28271C;
	display: inline-block;
	width: 100%;
}

.footer {
	border-bottom: 1px solid  #28271C;
	border-top: 1px solid #28271C;	
	display: inline-block;
	width: 100%;
}

ul.header {
	list-style: none;
	width: 100%;
	display: inline-block;
}

ul.header li{
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 10px;
	text-align: center;
	list-style: none;
	padding: 20px 0px;
	letter-spacing: 1.25px;
	display: inline-block;
	float: center;
}

ul.footer li{
	display: inline-block;
	float: center;	
	margin-top: 10px;
	text-align: center;
	list-style: none;
	padding: 20px 5%;
	letter-spacing: 1.25px;
}


.black_text {
	color: #28271C;
	letter-spacing: 1.5px;
	font-size: .750em;
}


#storefront img{
	width: 100%;
}

#logo_gif {
}



/*****************************************
PAGE: ABOUT
*****************************************/
.inline-block {
	width: 100%;
	height: 300px;
}

.about {
	color: #28271C;
	width: 100%;
	float: left;
}

.about img {
	width: 40%;
	display: inline-block;
	float: right;
}

.contact-us {
	text-align: left;
	margin: 5%;
}

.contact-us table {
	display: inline-block;
	margin-left: 25%;
}




/***************************************
PAGE: PATTERNS  --- all images 280 x 320
***************************************/

#gallery {
		margin: none;
		padding: 5%;
		list-style: none;
		width: 100%;
		display: inline-block;
	}

#gallery li {
		float: left;
		width: 28.3333%;
		margin: 2.5%;
	}	

#gallery li a p {
		margin: 0;
		padding:  5%;
		font-size: 0.75em;
	}	

/***************************************
PAGE: PRODUCTS  --- 
***************************************/
ul.products p {
	padding-left: 5%;
	padding-bottom: 5%;
}

ul.products img {
	width: 200px;
	height: 200px;
	padding: 5%;
	display: inline-block;
	vertical-align: top;
}

.order-form button {
	display: inline-block;
	float: left;
	margin-left: 40%;
	margin-right: 50%;
	margin-bottom: 5%;
}

#order-form a {
	color: #fff;
}

/***************************************
PAGE: ORDER-FORM  --- 
***************************************/

.order-form {
	text-align: center;
	width: 100%;
}

.yarn-name {
	display: inline-block;
	float: left;
	width: 60%;
	margin-left: 0%;
	margin-right: 0%;
	padding-right: 4%;
}

.yarn-quantity {
	display: inline-block;
	float: left;
	width: 10%;
	padding-right: 4%;

}

.yarn-SKU {
	display: inline-block;
	float: left;
	width: 15%;
	padding-right: 4%;
}

.yarn-price {
	display: inline-block;
	float: left;
	width: 15%;
}

.contact-info {
	text-align: left;
	padding: 1% 0%;
}

.form-group button {
	display: inline-block;
	float: center;
	margin-left: 40%;
	margin-right: 50%;
	margin-top: 5%;	

}

/***********************************************
PAGE: BLOG  --- iframe for blog page contents from blogspot;
***********************************************/

iframe {
	width: 100%;
	height: 800px;
}	

/**************************************************
PAGE: EMAIL_REPLY;
**************************************************/

.email_reply {
	display: center;
	text-align: center;
	padding: 10% 10%;

}

#contact {
	width: auto;
	margin: auto;
	padding-left: 60px;
}

#copyright {
	width: 100%;
	margin: 0px;
	display: inline-block;
	float: left;
	text-align: center;
	color: #28271C;
	font-weight: 100;
	font-size: .750em;
	letter-spacing: 1.5px;
	padding-top: 2%;
}

