


*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	color: #d61766;
	background: #ffffff repeat;
	margin: 5%;
	padding-right: 0%;
}



a {
	color: #d61766;
	text-decoration: none;
}

.on {
	text-decoration: underline;
}

.off{

}

h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #b4c34f;
}



#social {
	padding: 0px 0% 0px 0px;
	float: right;
	text-align: right;
	margin: 0px 0px 0px 0px;
}

.header {
	width: 100%;
	padding-bottom: 5%;
	border-bottom: 1px solid #28271C;
	border-top: 1px solid green;
}

.footer {
	width: 100%;

}

ul.header li{
	float: left;
	margin-bottom: 10px;
	text-align: center;
	list-style: none;
	padding: 20px 5%;
	letter-spacing: 1.25px;
}

ul.footer li{
	border-bottom: 1px solid  #28271C;
	float: left;
	margin-top: 10px;
	text-align: center;
	border-top: 1px solid #28271C;
	list-style: none;
	padding: 20px 5%;
	letter-spacing: 1.25px;
	
}


.black_text {
	color: #28271C;
	letter-spacing: 1.5px;
	font-size: .750em;
}


#storefront img{
	width: 90%;
	float: left;
}

#logo_gif {
	width: 20%;
	margin: 0px 0px;
	padding: 0px 0px;
}



/*****************************************
PAGE: ABOUT
*****************************************/
.inline-block {
	width: 100%;
	height: 300px;
}

.about {
	color: #28271C;
	width: 100%;
	float: left;
}

.about img {
	width: 40%;
	display: inline-block;
	float: right;
}

.contact-us {
	text-align: left;
	margin: 5%;
}

.contact-us table {
	display: inline-block;
	margin-left: 25%;
}




/***************************************
PAGE: PATTERNS  --- all images 280 x 320
***************************************/

#gallery {
		margin: none;
		padding: none;
		list-style: none;
		width: 100%;
		display: inline-block;
	}

#gallery li {
		float: left;
		width: 28.3333%;
		margin: 2.5%;
	}	

#gallery li a p {
		margin: 0;
		padding:  5%;
		font-size: 0.75em;
	}	

.products img {
	width: 28.333%;
}

/***********************************************
PAGE: BLOG  --- iframe for blog page contents from blogspot;
***********************************************/

iframe {
	width: 100%;
	height: 800px;
}	

/**************************************************
PAGE: EMAIL_REPLY;
**************************************************/

.email_reply {
	display: center;
	text-align: center;
	padding: 10% 10%;

}

#contact {
	width: auto;
	margin: auto;
	padding-left: 60px;
}

#copyright {
	width: 100%;
	margin: 0px;
	text-align: center;
	color: #28271C;
	font-weight: 100;
	font-size: .750em;
	letter-spacing: 1.5px;
}

